* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
    background: radial-gradient(circle, #0b456b, #021c37);
  }
  
  .clock {
    position: relative;
    width: 500px;
    height: 500px;
    display: flex;
    background-color: lightgray;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background:radial-gradient(circle, #05263c,#000d1a);
  }

  .clock::before{
    content: "";
    width: 525px;
    height: 525px;
    position: absolute;
    border-radius: 50% ;
    background: linear-gradient(to right, #00d9ff, #ee00ff);
    box-shadow: 0 0 15px 15px rgba(0, 0, 0, 0.2);
    z-index:-2;
  }
  
  .number {
    position: absolute;
    inset: 20px;
    font-size: 40px;
    text-align: center;
    transform: rotate(calc(30deg * var(--n)));
    color:#00d9ff;
    text-shadow: 0 0 12px #ee00ff;
  }
  
  .number b {
    display: inline-block;
    transform: rotate(calc(-30deg * var(--n)));
    color:black;
    color:#00d9ff;
  }
  
  .center-dot {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 25px;
    height: 25px;
    background:gray;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
  }
  
  .hour-hand,
  .minute-hand,
  .second-hand {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform-origin: bottom center;
    transform: rotate(0deg);
    transition: transform (-50%) rotate(calc(var(--rotate)*1deg))
  }
  
  .hour-hand {
    width: 6px;
    height: 130px;
    background:linear-gradient(#00d9ff, #ee00ff);
    z-index: 3;
  }
  
  .minute-hand {
    width: 9px;
    height: 190px;
    background:linear-gradient(to top,#00d9ff, #ee00ff);
    z-index: 2;
  }
  
  .second-hand {
    width: 6px;
    height: 170px;
    background:linear-gradient(to top,#00d9ff, #ee00ff);
    z-index: 1;
  }
  
  .hour-hand,
  .minute-hand,
  .second-hand {
    transform: rotate(calc(var(--rotate, 0) * 1deg));
    border-radius: 30px 30px 0 0;
  }
  
